<?xml version="1.0"?>
<robot name="circle" xmlns:xacro="http://wiki.ros.org/xacro">
<link name="world"/>

<material name="green">
    <color rgba="0 0.8 0 1.0"/>
</material>


<link name="shape_0">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.5 0.5 0.1"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.5 0.5 0.1"/>
    </geometry>
  </collision>
</link>
<joint name="world_to_shape_0" type="fixed">
  <parent link="world"/>
  <child link="shape_0"/>
  <origin xyz="0.8 0.0 0.02" rpy="0 0 0" />
</joint>

</robot>