<?xml version="1.0"?>
<robot name="torch_obstacle" xmlns:xacro="http://wiki.ros.org/xacro">
<link name="world"/>

<material name="green">
    <color rgba="0 0.8 0 1.0"/>
</material>


<link name="shape_0">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.5 0.5 0.1"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.5 0.5 0.1"/>
    </geometry>
  </collision>
</link>
<joint name="world_to_shape_0" type="fixed">
  <parent link="world"/>
  <child link="shape_0"/>
  <origin xyz="0.6000000000000001 0.0 0.05" rpy="0 0 0" />
</joint>
<link name="shape_1">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.1 0.5 0.01"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.1 0.5 0.01"/>
    </geometry>
  </collision>
</link>
<joint name="world_to_shape_1" type="fixed">
  <parent link="world"/>
  <child link="shape_1"/>
  <origin xyz="0.8 0.0 0.10500000000000001" rpy="0 0 0" />
</joint>
<link name="shape_2">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.01 0.5 0.1"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.01 0.5 0.1"/>
    </geometry>
  </collision>
</link>
<joint name="world_to_shape_2" type="fixed">
  <parent link="world"/>
  <child link="shape_2"/>
  <origin xyz="0.8450000000000001 0.0 0.16000000000000003" rpy="0 0 0" />
</joint>
<link name="shape_3">
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 0.1 0.05"/>
    </geometry>
    <material name="green"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.05 0.1 0.05"/>
    </geometry>
  </collision>
</link>
<joint name="world_to_shape_3" type="fixed">
  <parent link="world"/>
  <child link="shape_3"/>
  <origin xyz="0.775 0.0 0.135" rpy="0 0 0" />
</joint>

</robot>